body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/originals/a9/4a/ee/a94aee835e16cff4f14c83dac8ffbe10.gif");
  background-size: cover;
}

@media (max-width: 1200px) {
  body {
    background-image: url("");
    background-color: rgb(22, 1, 32);
  }
}
