.container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.btn {
  width: 10rem;
  height: 3rem;
  outline: none;
  border: none;
  background-color: green;
  color: inherit;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.2rem 0.5rem;
}

.logoutBtn {
  width: 10rem;
  height: 3rem;
  outline: none;
  border: none;
  background-color: rgb(136, 136, 136);
  color: inherit;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.2rem 0.5rem;
}

.btn:active,
.logoutBtn:active {
  transform: scale(0.9);
}

.flexbox {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 25rem;
  overflow-y: scroll;
  width: 90%;
  background: none;
}

.popup {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(57, 57, 57);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(171, 171, 171, 0.963);
  border-radius: 1rem;
  border: 0.25rem solid transparent;
  background-clip: content-box;
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
  .btn,
  .logoutBtn {
    width: 10rem;
    height: 2rem;

    font-size: 1.1rem;
  }
  .flexbox {
    width: 100%;
  }
}
